{
	admin off
	auto_https off
}

:80 {
	redir {$TEKST_API_PATH:/api} {$TEKST_API_PATH:/api}/

	handle_path {$TEKST_API_PATH:/api}/* {
		reverse_proxy http://api:8000
	}

	handle_path /static/* {
        encode gzip
		root * /var/www/tekst/static
		file_server
	}

	handle * {
		try_files {path} /
		encode gzip
		root * /var/www/html
		file_server
	}
}
