**/__pycache__/
**/.pytest_cache/
**/htmlcov/
**/.github/
**/.env/
**/.venv/
**/.vscode/
**/.git/
**/dist/
**/node_modules/
**/.ruff_cache/
**/demo/
**/temp/
**/tests/
**/Dockerfile
**/compose.yml
**/.coverage
**/.dockerignore
**/.justfile
docs/
dev/
assets/
