{
	admin off
	auto_https off
}

:8080 {
	encode zstd gzip

	# constrain max request body size
	request_body {
		max_size {$TEKST_MAX_REQ_SIZE:250MB}
	}

	# redirect root requests to use trailing slash
	@root expression {path} == "{$TEKST_WEB_PATH}"
	redir @root {$TEKST_WEB_PATH}/

	# redirect API requests to use trailing slash
	redir {$TEKST_WEB_PATH}/api {$TEKST_WEB_PATH}/api/

	# proxy all API requests to API app
	handle_path {$TEKST_WEB_PATH}/api/* {
		reverse_proxy http://127.0.0.1:8000
	}

	# serve static files (custom assets)
	handle_path {$TEKST_WEB_PATH}/static/* {
		root * /var/www/tekst/static
		file_server
        header Cache-Control max-age=604800
	}

	# help browsers to find the custom favicon at root
	# (ofc this only works if the app is served at root path "/")
	handle_path {$TEKST_WEB_PATH}/favicon.ico {
		root /var/www/tekst/static/favicon.ico
		file_server
        header Cache-Control max-age=604800
	}

	# serve web client files
	handle_path {$TEKST_WEB_PATH}/* {
		root * /var/www/html
		try_files {path} /index.html
		file_server
	}
}
