:80 {
    redir {$TEKST_API_PATH:/api} {$TEKST_API_PATH:/api}/

    handle {$TEKST_API_PATH:/api}/* {
        uri strip_prefix {$TEKST_API_PATH:/api}
        reverse_proxy http://tekst-api:8000
    }

    reverse_proxy * http://tekst-web:80
}
