:80 {
    redir {$API_PATH:/api} {$API_PATH:/api}/

    handle {$API_PATH:/api}/* {
        uri strip_prefix {$API_PATH:/api}
        reverse_proxy http://tekst-api:8000
    }

    reverse_proxy * http://tekst-web:80
}
