/*

  CSS VARIABLES THAT CAN BE
  CHANGED TO SOMEWHAT CUSTOMIZE
  THE APP LAYOUT/DESIGN

*/

:root {
  --max-app-width: 1280px;
  --layout-gap: 1rem;
  --content-gap: 0.75rem;

  --font-family-ui: 'Tekst UI Font', sans-serif;
  --font-family-content: 'Tekst Content Font', serif;
  --font-weight-normal: 400;
  --font-weight-bold: 500;

  --font-size: 20px;
  --font-size-mini: 14px;
  --font-size-tiny: 16px;
  --font-size-small: 18px;
  --font-size-medium: 18px;
  --font-size-large: 22px;
  --font-size-huge: 24px;

  --border-radius: 4px;
  --block-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.04), 0 3px 6px 0 rgba(0, 0, 0, 0.03),
    0 5px 12px 4px rgba(0, 0, 0, 0.04);
  --fixed-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.14), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.1);
}
