/* Tekst UI Font (default font for everything that isn't user content) **/

@font-face {
  font-family: 'Tekst UI Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  ascent-override: 95%;
  src: url('fonts/Noto-Sans/Noto-Sans-300.eot'); /* IE9 */
  src: url('fonts/Noto-Sans/Noto-Sans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Noto-Sans/Noto-Sans-300.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Noto-Sans/Noto-Sans-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/Noto-Sans/Noto-Sans-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Noto-Sans/Noto-Sans-300.svg#NotoSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tekst UI Font';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  ascent-override: 95%;
  src: url('fonts/Noto-Sans/Noto-Sans-300italic.eot'); /* IE9 */
  src: url('fonts/Noto-Sans/Noto-Sans-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Noto-Sans/Noto-Sans-300italic.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Noto-Sans/Noto-Sans-300italic.woff') format('woff'), /* Modern Browsers */
    url('fonts/Noto-Sans/Noto-Sans-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Noto-Sans/Noto-Sans-300italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tekst UI Font';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  ascent-override: 95%;
  src: url('fonts/Noto-Sans/Noto-Sans-500.eot'); /* IE9 */
  src: url('fonts/Noto-Sans/Noto-Sans-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Noto-Sans/Noto-Sans-500.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Noto-Sans/Noto-Sans-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/Noto-Sans/Noto-Sans-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Noto-Sans/Noto-Sans-500.svg#NotoSans') format('svg'); /* Legacy iOS */
}


/* Tekst Content Font (default font for user content) **/

@font-face {
  font-family: 'Tekst Content Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Noto-Serif/Noto-Serif-Regular.eot'); /* IE9 */
  src:
    url('fonts/Noto-Serif/Noto-Serif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Noto-Serif/Noto-Serif-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Noto-Serif/Noto-Serif-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/Noto-Serif/Noto-Serif-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Noto-Serif/Noto-Serif-Regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tekst Content Font';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Noto-Serif/Noto-Serif-Italic.eot'); /* IE9 */
  src:
    url('fonts/Noto-Serif/Noto-Serif-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Noto-Serif/Noto-Serif-Italic.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Noto-Serif/Noto-Serif-Italic.woff') format('woff'), /* Modern Browsers */
    url('fonts/Noto-Serif/Noto-Serif-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Noto-Serif/Noto-Serif-Italic.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tekst Content Font';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/Noto-Serif/Noto-Serif-500.eot'); /* IE9 */
  src:
    url('fonts/Noto-Serif/Noto-Serif-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Noto-Serif/Noto-Serif-500.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/Noto-Serif/Noto-Serif-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/Noto-Serif/Noto-Serif-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/Noto-Serif/Noto-Serif-500.svg#NotoSerif') format('svg'); /* Legacy iOS */
}
