Dear {name},<br/>
<br/>
you (or someone else) requested a reset for a forgotten password on {platform_name}.
You may reset your password by clicking the following link or copying and pasting
it into your browser's address bar:<br/>
<br/>
<a href="{web_url}/reset/?token={token}">
    {web_url}/reset/?token={token}
</a><br/>
<br/>
This wasn't you? Then please ignore this email.<br/>
<br/>
Please note that the above link is
<b>only valid for {token_lifetime_minutes} minutes</b>.<br/>
<br/>
See you on <a href="{web_url}">{platform_name}</a>!
