Dear {name},<br/>
<br/>
please verify your email address for {platform_name} by clicking the following link
or copying and pasting it into your browser's address bar:<br/>
<br/>
<a href="{web_url}/verify/?token={token}">
    {web_url}/verify/?token={token}
</a><br/>
<br/>
Please note that this verification link
is <b>only valid for {token_lifetime_hours} hours</b>.<br/>
If you need a new verification link, it will be sent to you whenever you try to log in.<br/>
<br/>
See you on <a href="{web_url}/verify/?token={token}">{platform_name}</a>!
