html {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  font-size: var(--font-size);
}

body {
  max-width: 100vw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 100%;
}

::selection {
  color: var(--base-color);
  background: var(--accent-color);
}

a,
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.1s;
  cursor: pointer;
}

a:hover {
  color: var(--link-color-hover);
}

p {
  margin: 0.5em 0;
}

.text-mini {
  font-size: var(--font-size-mini);
}

.text-tiny {
  font-size: var(--font-size-tiny);
}

.text-small {
  font-size: var(--font-size-small);
}

.text-medium {
  font-size: var(--font-size-medium);
}

.text-large {
  font-size: var(--font-size-large);
}

.text-huge {
  font-size: var(--font-size-huge);
}

.text-gigantic {
  font-size: var(--font-size-gigantic);
}

.n {
  font-weight: var(--font-weight-normal);
}

b,
strong,
.b {
  font-weight: var(--font-weight-bold);
}

em,
.i {
  font-style: italic;
}

h1 {
  font-size: var(--font-size-gigantic);
  font-weight: var(--font-weight-normal);
  margin-top: 1.2rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-normal);
  margin-top: 1.1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  margin-top: 1rem;
  margin-bottom: 0.9rem;
}

h4 {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  margin-top: 0.9rem;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

li > p {
  margin: 0;
}

blockquote {
  font-style: italic;
}

img {
  max-width: 100%;
}

code {
  padding: 0 3px;
  border-radius: var(--border-radius);
  background-color: #8881;
  font-weight: var(--font-weight-normal);
  font-family: monospace;
  font-size: 0.86em !important;
}

pre > code {
  display: block;
  padding: 0.75rem 1rem;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.my-lg {
  margin-top: var(--gap-lg);
  margin-bottom: var(--gap-lg);
}

.mx-lg {
  margin-left: var(--gap-lg);
  margin-right: var(--gap-lg);
}

.mt-lg {
  margin-top: var(--gap-lg);
}

.mr-lg {
  margin-right: var(--gap-lg);
}

.mb-lg {
  margin-bottom: var(--gap-lg);
}

.ml-lg {
  margin-left: var(--gap-lg);
}

.my-md {
  margin-top: var(--gap-md);
  margin-bottom: var(--gap-md);
}

.mx-md {
  margin-left: var(--gap-md);
  margin-right: var(--gap-md);
}

.mt-md {
  margin-top: var(--gap-md);
}

.mr-md {
  margin-right: var(--gap-md);
}

.mb-md {
  margin-bottom: var(--gap-md);
}

.ml-md {
  margin-left: var(--gap-md);
}

.my-sm {
  margin-top: var(--gap-sm);
  margin-bottom: var(--gap-sm);
}

.mx-sm {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.mt-sm {
  margin-top: var(--gap-sm);
}

.mr-sm {
  margin-right: var(--gap-sm);
}

.mb-sm {
  margin-bottom: var(--gap-sm);
}

.ml-sm {
  margin-left: var(--gap-sm);
}

.p {
  padding: 1rem;
}

.p-0 {
  padding: 0 !important;
}

.box-shadow {
  box-shadow: var(--block-box-shadow);
}

.form-container {
  max-width: 512px;
  margin: 0 auto;
  background-color: transparent;
}

.content-block {
  max-width: 100%;
  margin: var(--gap-lg) 0;
  padding: var(--gap-md) var(--gap-lg);
  border-radius: var(--border-radius);
  background-color: var(--content-bg-color);
  box-shadow: var(--block-box-shadow);
}

.focus-view .content-block {
  padding: var(--gap-sm) var(--gap-md);
}

.content-loadable {
  transition: filter 0.3s ease;
  transition-delay: 0.3s;
}

.content-loading {
  cursor: wait;
  filter: blur(2px) grayscale(100%) opacity(50%);
}

.content-loading > * {
  pointer-events: none;
  user-select: none;
}

.accent-color-bg {
  background-color: var(--accent-color);
  color: #fff;
  transition: 0.3s;
}

.accent-color-bg ::selection {
  color: var(--accent-color);
  background: var(--base-color);
}

.text-color-accent {
  color: var(--accent-color);
}

.translucent {
  opacity: 0.7;
}

.ui-font {
  font-family: var(--font-family-ui);
}

.content-font {
  font-family: var(--font-family-content);
}

.centered-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.gray-box {
  padding: var(--gap-lg);
  margin: var(--gap-lg) 0;
  background-color: color-mix(in srgb, var(--main-bg-color), #0000 40%);
  border-radius: var(--border-radius);
}

.gray-box:first-child {
  margin-top: 0;
}

.gray-box:last-child {
  margin-bottom: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

.codemirror-container {
  width: 100%;
  border: 1px solid rgb(224, 224, 230);
  border-radius: var(--border-radius);
}

/*
 * NUI overrides
 * Unfortunately, we need to override some default NUI styles in this hacky way
 */

.n-thing .n-thing-main .n-thing-header .n-thing-header__title {
  font-size: var(--font-size) !important;
}

.n-list-item__main {
  min-width: 0;
}
