@import './base.css';

#app {
  --max-app-width: 1280px;
  --content-padding: 0.75rem;
}

a,
a:any-link {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.1s;
}

a:hover {
  color: var(--link-color-hover);
}

p {
  margin: 0.5em 0;
}

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.form-container {
  width: 380px;
  max-width: 100%;
  margin: 0 auto;
  background-color: transparent;
  padding: 23px 32px 24px;
}
