@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

a,
a:any-link {
  text-decoration: none;
  color: var(--accent-color-fade1);
  transition: 0.1s;
}

a:hover {
  color: var(--accent-color);
}

p {
  margin: 0.5em 0;
}

b,
strong {
  font-weight: bold;
}

/*

    Global CSS fixes for problems with external libraries

*/

/* fix for NaiveUI alert close buttons being overlapped by other elements */
.n-alert .n-alert__close {
  z-index: 1;
}

/* fix for vertically centering NaiveUI alert icons at increased font sizes */
.n-alert .n-alert__icon {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
