Hallo, {to_user_name}!<br />
<br />
Sie (oder jemand anderes) hat das Zurücksetzen eines vergessenen Passworts für
{platform_name} angefordert. Sie können ihr Passwort jetzt mit einem Klick auf
den folgenden Link zurücksetzen oder diesen kopieren und in die Adress-Zeile
Ihres Browsers einfügen.<br />
<br />
<a href="{web_url}/reset/?token={token}"> {web_url}/reset/?token={token} </a
><br />
<br />
Das waren nicht Sie? Dann ignorieren Sie bitte diese Email.<br />
<br />
Bitte beachten Sie, dass der obige Link
<b>nur für {token_lifetime_hours} Stunden gültig</b> ist!<br />
<br />
Bis bald auf <a href="{web_url}">{platform_name}</a>!
