Hallo, {to_user_name}!<br />
<br />
bitte verifizieren Sie Ihre Email-Adresse für {platform_name} mit einem Klick
auf den folgenden Link. Alternativ können Sie ihn auch kopieren und manuell in
die Adress-Leiste Ihres Browsers einfügen.<br />
<br />
<a href="{web_url}/verify/?token={token}"> {web_url}/verify/?token={token} </a
><br />
<br />
Bitte beachten Sie, dass dieser Verifizierungs-Link
<b>nur für {token_lifetime_hours} Stunden gültig</b> ist!<br />
Sollten Sie einen neuen Verifizierungs-Link benötigen, wird Ihnen dieser
zugesandt, sobald Sie versuchen, sich anzumelden.<br />
<br />
Bis gleich auf <a href="{web_url}/verify/?token={token}">{platform_name}</a>!
