Hallo, {to_user_name}!<br />
<br />
Der Benutzer "{username}" hat gerade eine neue Ressource zur Veröffentlichung
auf {platform_name} vorgeschlagen. Der Titel der Ressource lautet
"{resource_title}".<br />
Als registrierter Benutzer von {platform_name} können Sie den Inhalt zur
Veröffentlichung vorgeschlagener Ressourcen sehen und modifizierte Versionen
anlegen. Der jeweilige Besitzer der Originalressource kann dann Ihre
vorgeschlagenen Änderungen übernehmen.<br />
<br />
Bis bald auf <a href="{web_url}">{platform_name}</a>!
