name: Check Tekst-Web build and code style

on:
  push:
    branches:
      - main
    paths:
      - "Tekst-Web/public/**"
      - "Tekst-Web/scripts/**"
      - "Tekst-Web/src/**"
      - "Tekst-Web/package.json"
      - "Tekst-Web/package-lock.json"
      - ".github/workflows/web-checks.yml"
  pull_request:
    branches:
      - main
    paths:
      - "Tekst-Web/public/**"
      - "Tekst-Web/scripts/**"
      - "Tekst-Web/src/**"
      - "Tekst-Web/package.json"
      - "Tekst-Web/package-lock.json"
      - ".github/workflows/web-checks.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./Tekst-Web

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 20.14.0
        uses: actions/setup-node@v6
        with:
          node-version: "24.12.0"
          cache: "npm"
          cache-dependency-path: "./Tekst-Web/package-lock.json"
      - run: npm install
      - run: npm run build --if-present
